
.navbar {
  width: 100%;
  background-color: #224561;
}
.navbar-brand {
  /* padding-left: 10px; */
  background-color: #224561;
}
.navbar-link {
  color: white;
  font-size: 2rem;
}
.navbar-link {
  color: white;
}
.navbar-item {
    color: white;
    font-size: 1.5rem;
}
.navbar-dropdown {
  background-color: #224561;
  color: white;
}

.hero {
  padding-top: 5%;
  background-image: url(./assets/images/Montana.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
}
.fas {
    padding-right: 20px;
    padding-bottom: 15px;
    color: #3D7BAD;
    vertical-align: top;
}
#mattix {
    border: 2px solid white;
    border-radius: 10px;
    margin: auto;
    max-height: 500px;
    max-width: 300px;
  }

#about-me {
  width: 100%;
  background-color: rgb(82, 82, 82);
  margin: auto;
  padding: 20px;
  /* float: right; */
  border: 1px solid white;
  border-radius: 10px;
}
#name {
  font-size: 3.5rem;
  font-family: "Merriweather", serif;
  margin-top: 10px;
  color: #95C1E6;
  text-shadow: 1px 1px 0px white;
}
#about-me-title {
  font-family: "Lato", sans-serif;
  color: white;
  margin-bottom: 30px;
  text-shadow: 1px 1px 4px black;
}
#about-me-info {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 4px black;
}
#projects {
  background-color: #7398BF;
  color: #263340;
}

.card {
  background-color: rgb(57, 59, 65, 0.6);
  margin: auto;
  border-radius: 15px;
}

@media only screen and (max-width: 576px) {
    .navbar {
        width: 100%;
    }
    #name {
        max-width: 90%;
        font-size: 2.5rem;
    }
    .fas {
        display: none;
    }
    body {
        margin-top: 30px;
    }
}
@media only screen and (max-width: 768px) {
    .navbar {
        width: 100%;
    }
    #name {
        max-width: 90%;
        font-size: 2.5rem;
    }
    body {
        margin-top: 30px;
    }
}