main {
    margin-top: 0;
}
.navbar {
  width: 100%;
  background-color: #193347;
}
.navbar-brand {
  background-color: #193347;
}
.navbar-link {
  color: white;
  font-size: 2rem;
}
.navbar-link {
  color: #95C1E6;
}
.navbar-item {
    color: white;
    font-size: 1.5rem;
    text-shadow: 1px 0px 1px white;
}
.navbar-dropdown {
  background-color: #193347;
  color: #95C1E6;
}

.hero {
  padding-top: 5%;
  background-image: url(./assets/images/Montana.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
}
.fas {
    padding-right: 20px;
    padding-bottom: 15px;
    color: #3D7BAD;
    vertical-align: top;
}
a {
    color: #95C1E6;
    font-weight: 400;
}
.fab {
    color: white;
}
#burger {
    color: white;
    font-size: 2rem;
}
#name {
    font-size: 3.5rem;
    font-family: "Merriweather", serif;
    margin-top: 10px;
    color: #95C1E6;
    text-shadow: 1px 0px 1px white;
  }

#about-me-card {
    background-color: rgb(57, 59, 65, 0.6);
    margin: auto;
    border-radius: 15px;
  }

#mattix {
    border: 2px solid white;
    border-radius: 10px;
    margin: auto;
    max-height: 500px;
    max-width: 300px;
  }

#about-me {
  width: 100%;
  background-color: rgb(82, 82, 82);
  margin: auto;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
}

#about-me-title {
  font-family: "Lato", sans-serif;
  color: white;
  margin-bottom: 30px;
  text-shadow: 1px 1px 4px black;
}
#about-me-info {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 4px black;
}
#projects {
  background-color: #216E67;
  color: #263340;
  padding-top: 30px;
}
#projects-title {
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 3rem;
    color: #95C1E6;
    text-shadow: 1px 0px 1px white;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #193347;
    box-shadow: 3px 3px 4px #224561c2;
}
#resume {
    background-color: #216E67;
}
#skillet-card {
    background-color: #193347;
    margin: auto;
    border-radius: 10px;
    color: white;
    font-family: "Lato", sans-serif;
    border: 1px solid white;
    padding: 5px;
    box-shadow: 3px 3px 4px #393C40;
  }
#code-quiz-card {
    background-color: #193347;
    margin: auto;
    border-radius: 10px;
    color: white;
    font-family: "Lato", sans-serif;
    border: 1px solid white;
    padding: 5px;
    box-shadow: 3px 3px 4px #393C40;
  }
#weather-card {
    background-color: #193347;
    margin: auto;
    border-radius: 10px;
    color: white;
    font-family: "Lato", sans-serif;
    border: 1px solid white;
    padding: 5px;
    box-shadow: 3px 3px 4px #393C40;
  }



@media only screen and (max-width: 576px) {
    .navbar {
        width: 100%;
    }
    #name {
        max-width: 90%;
        font-size: 2.5rem;
    }
    .fas {
        display: none;
    }
    body {
        margin-top: 30px;
    }
}
@media only screen and (max-width: 768px) {
    .navbar {
        width: 100%;
    }
    #name {
        max-width: 90%;
        font-size: 2.5rem;
    }
    body {
        margin-top: 30px;
    }
}