main {
  margin-top: 0;
}
.footer {
  background-color: #193347;
  color: white;
}
.navbar {
  width: 100%;
  background-color: #193347;
}
.navbar-brand {
  background-color: #193347;
}
.navbar-link {
  color: white;
  font-size: 2rem;
}
.navbar-link {
  color: #95c1e6;
}
.navbar-item {
  color: white;
  font-size: 1.5rem;
  text-shadow: 1px 0px 1px white;
}
.navbar-dropdown {
  background-color: #193347;
  color: #95c1e6;
}

.hero {
  padding-top: 5%;
  background-image: url(../images/Montana.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
}
.fas {
  padding-right: 20px;
  padding-bottom: 15px;
  color: #3d7bad;
  vertical-align: top;
}
a {
  color: #95c1e6;
  font-weight: 400;
}
.fab {
  color: white;
}
.user-email {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
}
#questions-submit {
    float: right;
    margin: 10px;
    padding: 10px;
    background-color: #3d7bad;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
}
#questions-submit:hover {
  background-color: #50677A;
}
#burger {
  color: white;
  font-size: 2rem;
}
#name {
  font-size: 3.5rem;
  font-family: "Merriweather", serif;
  margin-top: 10px;
  color: #95c1e6;
  text-shadow: 1px 0px 1px white;
}

#about-me-card {
  background-color: rgb(57, 59, 65, 0.6);
  margin: auto;
  border-radius: 15px;
}

#mattix {
  border: 2px double #57b1fa;
  border-radius: 10px;
  margin: auto;
  max-height: 500px;
  max-width: 300px;
}

#about-me {
  width: 100%;
  background-color: rgb(43, 43, 43);
  margin: auto;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
}

#about-me-title {
  font-family: "Lato", sans-serif;
  color: white;
  margin-bottom: 30px;
  text-shadow: 1px 1px 4px black;
}
#about-me-info {
  font-family: "Lato", sans-serif;
  background-color: rgba(82, 82, 82, 0.103);
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 3px black;
}
#projects {
  background-color: #246878;
  color: #263340;
  padding-top: 30px;
}
#projects-title {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 3rem;
  color: #A3D3FB;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.562);
  padding: 15px;
  border: 2px double #57b1fa;
  border-radius: 10px;
  background-color: #193347;
  box-shadow: 3px 3px 4px #224561c2;
}
#resume-title {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 3rem;
  color: #A3D3FB;
  text-shadow: 1px 0px 0px white;
  padding: 15px;
  border: 2px double #57b1fa;
  border-radius: 10px;
  background-color: #193347;
  box-shadow: 3px 3px 4px #224561c2;
}
#contact-title {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 3rem;
  color: #A3D3FB;
  text-shadow: 1px 0px 1px white;
  padding: 15px;
  margin-top: 3%;
  border: 2px double #57b1fa;
  border-radius: 10px;
  background-color: #193347;
  box-shadow: 3px 3px 4px #224561c2;
}
#resume {
  background-color: #246878;
}
#skillet-card {
  background-color: #193347;
  margin: auto;
  border-radius: 10px;
  color: white;
  font-family: "Lato", sans-serif;
  border: 2px double #57b1fa;
  padding: 5px;
  box-shadow: 3px 3px 4px #393c40;
}
#code-quiz-card {
  background-color: #193347;
  margin: auto;
  border-radius: 10px;
  color: white;
  font-family: "Lato", sans-serif;
  border: 2px double #57b1fa;
  padding: 5px;
  box-shadow: 3px 3px 4px #393c40;
}
#weather-card {
  background-color: #193347;
  margin: auto;
  border-radius: 10px;
  color: white;
  font-family: "Lato", sans-serif;
  border: 2px double #57b1fa;
  padding: 5px;
  box-shadow: 3px 3px 4px #393c40;
}
#contact-me-card {
    font-family: "Lato", sans-serif;
    font-size: 2.5rem;
    background-color: #193347;
    border: 2px double #57b1fa;
    border-radius: 10px;
}
#contact-style {
    color: white;
}
#resume-card {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    background-color: #193347;
    border: 2px double #57b1fa;
    border-radius: 10px;
    padding: 10px;
    
}
#resume-image {
    border: 2px double #57b1fa;
    border-radius: 10px;
}
#resume-download, a {
    color: white;
    margin: auto;
}


@media only screen and (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  #name {
    max-width: 90%;
    font-size: 2.5rem;
  }
  .fas {
    display: none;
  }
  body {
    margin-top: 30px;
  }
  #email {
    font-size: 25px;
    overflow-wrap: break-word;
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
  }
  #name {
    max-width: 90%;
    font-size: 2.5rem;
  }
  body {
    margin-top: 30px;
  }
}

/* Colors
#224561 - Dark blue
#7192AD - light blue/gray

*/
